.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  max-width: 1250px;
  margin: 0 auto;
}
.tilt-wrapper {
  width: 100%;
  display: flex;
}
